@import url('../global.css');

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

#fade {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.55rem;
  opacity: 0;
}

#fade.done {
  opacity: 1;
}

#fade.in-out {
  animation: fade-in-out 4.5s forwards ease-in-out;
  animation-delay: 1s;
}

#fade.in {
  animation: fade-in 3s forwards ease;
  animation-delay: 1s;
}

@keyframes fade-in-out {
  0% {
    transform: translateX(-100px);
  }
  25% {
    opacity: 1;
    transform: translateX(0px);
  }
  75% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

@keyframes fade-in {
  0% {
    scale: 0.75;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
